<div class="banner">
  <div class="page-width banner_container">
    <h2 class="banner_title">{{ section.settings.title }}</h2>
    <div class="banner_wrapper">
      <div class="img_wrapper">
        <img class="banner_img" src="https://www.bing.com/images/search?view=detailV2&ccid=7UF9v%2fZN&id=77C94399974D90165F3AA5233671936BB690F521&thid=OIP.7UF9v_ZNWt_zdJ8xDSCTCwHaE7&mediaurl=https%3a%2f%2fpersonalexcellence.co%2ffiles%2fceo.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.ed417dbff64d5adff3749f310d20930b%3frik%3dIfWQtmuTcTYjpQ%26pid%3dImgRaw%26r%3d0&exph=533&expw=800&q=ceo&simid=608002915384318687&FORM=IRPRST&ck=E1F660EFCD42F7C18470962082C7A0A7&selectedIndex=2" alt="logo">
        <h2 class="boss_name"><strong>Artem Alekseev</strong></h2>
        <h2>ARHIMED CEO</h2>
      </div>
      <div class="text_wrapper">
        <p class="banner_text">{{ section.settings.text }}</p>
        <a class="banner_button-redirect button button--secondary" href="/collections/all"><p>{{ section.settings.textBtn }}</p></a>
      </div>
    </div>
  </div>
</div>

<style>
  .banner_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .banner_img {
    background-color: black;
  }

  .banner_text {
    font-style: italic;
    text-indent: 50px;
    
    position: relative;
  }

  .banner_text::before {
    content: "";
    background: url("https://cdn.shopify.com/s/files/1/0762/3373/6540/files/quotes.svg?v=1698007970") center/cover no-repeat;
    
    width: 40px;
    height: 30px;
    
    position: absolute;
    top: 0;
    left: 0;
  }
</style>

{% schema %}
{
  "name": "Banner call to action",
  "tag": "section",
  "class": "section",
  "settings": [
    {
          "type": "text",
          "id": "title",
          "label": "Banner Title",
          "default": "<strong>Next generation</strong> MED and Beauty dev"
    },
    {
          "type": "text",
          "id": "text",
          "label": "Banner text",
          "default": "Crafted with love and care in Ukraine using ArhiMED TM innovation technologies to make the world better and your life easier."
    },
    {
          "type": "text",
          "id": "textBtn",
          "label": "Button text",
          "default": "Explore ARHIMED Products"
    },
    {
      "type": "text",
      "id": "urlImg",
      "label": "Background img",
      "default": "https://th.bing.com/th/id/OIP.TKIJ5muZyGUvmWCDGTzMdgHaFS?w=137&h=98&c=7&r=0&o=5&pid=1.7"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Banner call to action"
    }
  ]
}
{% endschema %}
