<div class="banner">
  <div class="page-width banner_container">
    <img class="banner_img" src="https://cdn.shopify.com/s/files/1/0762/3373/6540/files/black_logo.png?v=1698093274" alt="logo">
    <h2 class="banner_title text-center"> {{ section.settings.title }} </h2>
    <p class="banner_text text-center">{{ section.settings.text }}</p>
    <a class="banner_button-redirect button button--secondary" href="/collections/all"><p>{{ section.settings.textBtn }}</p></a>
  </div>
</div>

<style>

  .banner {
    background: url("https://cdn.shopify.com/s/files/1/0762/3373/6540/files/small-resolution-background.jpg") center/cover no-repeat;
    padding-top: 50px;
  }

  .banner_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 1.5rem;
  }
  
  .banner_img {
    width: 250px;
    margin-bottom: 10px;
  }

  .text-center {
    text-align: center;
  }

  .banner_text {
    font-style: italic;
    text-indent: 50px;
    
    position: relative;
  }

  .banner_text::before {
    content: "";
    background: url("https://cdn.shopify.com/s/files/1/0762/3373/6540/files/quotes.svg?v=1698007970") center/cover no-repeat;
    transform: rotate(180deg);
    
    width: 40px;
    height: 30px;
    
    position: absolute;
    top: -10px;
    left: 15px;
  }

  @media only screen and (min-width: 750px) {
    .banner_img {
      width: 300px;
    }
  }

</style>

{% schema %}
{
  "name": "Banner call to action",
  "tag": "section",
  "class": "section",
  "settings": [
    {
          "type": "text",
          "id": "title",
          "label": "Banner Title",
          "default": "<strong>Next generation</strong> MED and Beauty dev"
    },
    {
          "type": "text",
          "id": "text",
          "label": "Banner text",
          "default": "Crafted with love and care in Ukraine using ArhiMED TM innovation technologies to make the world better and your life easier."
    },
    {
          "type": "text",
          "id": "textBtn",
          "label": "Button text",
          "default": "Explore ARHIMED Products"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Banner call to action"
    }
  ]
}
{% endschema %}
