{% if section.blocks.size > 0 %}<div class="facts-list">
  <div class="page-width facts-list_container">
    <div class="fact-list_title-wrapper">
      <h2 class="fact-list_heading">Did you know that</h2>
    </div>
    <div class="facts-wrapper">
      {% for block in section.blocks %}
        <div class="fact-item">
          <img class="fact-img" src="{{ block.settings.fact_img_url }}">
          <p class="fact-text text-center">{{ block.settings.fact_text }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<style>
  .facts-list_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 3rem;
  }

  .facts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    row-gap: 20px;
  }

  .fact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .fact-img {
    height: 70px;
  }

  .text-center {
    text-align: center;
  }
</style>

{% schema %}
{
  "name": "List of facts",
  "tag": "section",
  "class": "section",
  "settings": [
  ],
  "blocks": [
    {
      "name": "fact",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "fact_img_url",
          "label": "Fact Image URL" 
        },
        {
          "type": "text",
          "id": "fact_text",
          "label": "Fact text" 
        }
      ] 
    }
  ],
  "presets": [
    {
      "name": "List of facts"
    }
  ]
}
{% endschema %}
