<div class="banner">
  <div class="page-width banner_container">
    <img class="banner_img" src="//61c8c4.myshopify.com/cdn/shop/files/6.png?v=1695305139&width=600" alt="logo">
    <h2 class="banner_title"> {{ section.settings.title }} </h2>
    <p class="banner_text">{{ section.settings.text }}</p>
    <a class="banner_button-redirect button button--secondary" href="/collections/all"><p>{{ section.settings.textBtn }}</p></a>
  </div>
</div>

<style>
  .banner_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: url("https://cdn.shopify.com/s/files/1/0762/3373/6540/files/small-resolution-background.jpg") center/cover no-repeat;
    max-width: 60%;
  }
  
  .banner_img {
    background-color: black;
  }

  .banner_text {
    font-style: italic;
    text-indent: 50px;
    
    position: relative;
  }

  .banner_text::before {
    content: "";
    background: url("https://cdn.shopify.com/s/files/1/0762/3373/6540/files/quotes.svg?v=1698007970") center/cover no-repeat;
    
    width: 40px;
    height: 30px;
    
    position: absolute;
    top: 0;
    left: 0;
  }


</style>

{% schema %}
{
  "name": "Banner call to action",
  "tag": "section",
  "class": "section",
  "settings": [
    {
          "type": "text",
          "id": "title",
          "label": "Banner Title",
          "default": "<strong>Next generation</strong> MED and Beauty dev"
    },
    {
          "type": "text",
          "id": "text",
          "label": "Banner text",
          "default": "Crafted with love and care in Ukraine using ArhiMED TM innovation technologies to make the world better and your life easier."
    },
    {
          "type": "text",
          "id": "textBtn",
          "label": "Button text",
          "default": "Explore ARHIMED Products"
    },
    {
      "type": "text",
      "id": "urlImg",
      "label": "Background img",
      "default": "https://th.bing.com/th/id/OIP.TKIJ5muZyGUvmWCDGTzMdgHaFS?w=137&h=98&c=7&r=0&o=5&pid=1.7"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Banner call to action"
    }
  ]
}
{% endschema %}
